
*{ 
    box-sizing: border-box;
}


body {
    margin: 0 auto;
    font-family: 'Merriweather', serif;
    max-width: 768px;
}



.main-header {
    text-align: center;
    color: whitesmoke;
    background-color: rgb(39, 47, 70);
    font-variant: all-small-caps;
    padding: 20px 0;
    margin: 0;
}

fieldset.contact-info .form-box {
    display: flex;
    flex-direction: column;
}

.contact-info,
.newsletter { 
    padding: 15px 25px 25px 25px;
    border: none;
}


/* ---STYLING ELEMENTS--- */

.first-break {
    border-bottom: 8px double #333;
    border-top: 3px solid #333;
    margin: 0 10px;
}

.second-break {
    border: 2px solid #333;
    margin: 0 10px;
}

h2, h4 {
    text-align: center;
}

h4 {
    color: rgb(138, 147, 155);
    margin-bottom: 40px;
}

legend {
    padding-top: 40px;
    font-size: 20px;
    font-weight: bold;
}


input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
    border: none;
    font-size: 16px;
    font-style: italic;
    text-align: right;
    height: 50px;
    margin: 10px 0 30px;
    background-color: rgba(166, 174, 182, 0.219);
    color: #b0b7bd;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    border-radius: 9px;
    padding-right: 25px;
}

input:focus,
textarea:focus {
    background-color: rgb(32, 178, 170, 0.158);
    text-align: left;
    padding-left: 10px;
    color: black;
  }

#comments {
    width: 100%;
    height: 100px;
    resize: none;
    margin-top: 15px;
}

#zip {
    width: 50%;
}

.check-label {
    display: flex;
    color: rgb(138, 147, 155);
    margin: 5px 0;
}

.light {
    padding-left: 10px;
}


button {
    border: none;
    font-size: 20px;
    height: 50px;
    width: 100%;
    background-color: lightseagreen;
    color: white;
    border-radius: 9px;
}

footer {
    text-align: center;
    font-style: italic;
    color: lightslategrey;
}


@media (min-width: 768px) {

        fieldset.contact-info .form-box {
            flex-direction: row;
            align-items: center;
        }

        .form-box label {
            flex-basis: 12rem;
            margin: 10px 0px 30px 0px;
        }

        .form-box input, select {
            flex-basis: 0;
            flex-grow: 1;
            flex-shrink: 1;
        }

        #zip {
            flex: 0 25%;
            
        }

}