body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    background-color: darkslategrey;
    color: white;
    font-size: 2em;
    padding: 15px 0;
}

h1 {
    display: flex;
    justify-content: center;
}


